<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
         itemprop="blogPost">

    <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
    </header>

    <div class="article-meta">
        <% if (!post.hide_date){ %><!--here-->
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
        <% } %>
        <% if (post.author){ %>
            <div class="article-author"><%= post.author %></div>
        <% } %>
        <%- partial('post/category') %>
    </div>
    <div class="article-inner">

        <div class="article-entry" itemprop="articleBody">
            <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                <p class="article-more-link text-right">
                    <a class="" href="<%- url_for(post.path) %>#more"><%= __('read_more') %></a>
                </p>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>

        <% if (!(post.excerpt && index)){ %>
            <%- partial('post/gallery') %>
        <% } %>

        <footer class="article-footer">
            <div class="text-right"><%- partial('post/tag') %></div>
        </footer>
    </div>
    <% if (!index){ %>
        <%- partial('post/nav') %>
    <% } %>
</article>
